#witness_btn{
  color: black;  
}
#witness_btn:hover{
  cursor: pointer;
}
#start_icon{
  position: absolute;
  z-index: 9;
  left: 40%;
  top: 50%;
}
#start_icon_pic{
  cursor: move;
  z-index: 10;
}
#end_icon{
  position: absolute;
  z-index: 9;
  left: 70%;
  top: 50%;
}
#end_icon_pic{
  cursor: move;
  z-index: 10;
}